*{
    margin: 0;
    transition: .3s ease-in-out;
}

#horas{
    font-size: 3em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.450);
    border-radius: 7px 7px 0px 0px;
}
#resWeather{
    transition: 1s ease-in-out;
    background-color: transparent;
    text-align: center;
    border-radius: 5px;
    padding: 50px;
    font-size: 5em;
}
header{
    display: flex;
    height: 100vh;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
#info{
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bolder;
    font-size: 12pt;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    top: 10%;
    border: 2px dashed #0077B5;
    transition: .05s;
}
#watch{
    font-size: 1em;
}
#API::placeholder{
    color: white
}
#city{
    cursor: text;
    border-spacing: inherit;
}
#API{
    background-color: #212529;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: text;
}
#API:hover{
    background-color: #0077B5;
}
#help{
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    width: 50px;
    height: 50px;
}
#help:hover{
    background-color: #0077B5;
}
#cityname{
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    cursor: auto;
}
#cityname:hover{
    background-color: #0077B5;
}
.accordion-body p, strong, a, div, h1, span{
    color: rgb(255, 255, 255);
    background-color: var(--bs-gray-900);
}
footer{
    display: flex;
    flex-direction: column;
}

nav img:hover{
    cursor: pointer;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desc{
    text-indent: 2rem;
}

#theme img{
    position: relative;

}
#background{
    transition: 10s linear;
    background-color: black;
}
.termos{
    margin-bottom: 20px;
}
.accordion{
    width: 75vw;
    max-width: 1400px;
}
::-webkit-scrollbar{
    background-color: rgb(26, 34, 39);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(255, 242, 157);
    border-radius: 5px;
}
::-webkit-scrollbar-corner{
    background-color: rgb(0, 213, 255);
}