@font-face {
    font-family: "resClima";
    src: url(fonts/Dekko-Regular.ttf);
}

*{
    margin: 0;
    transition: .3s ease-in-out;
    image-rendering: optimizeSpeed;
}

#horas{
    font-size: 3em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.450);
    border-radius: 7px 7px 0px 0px;
}

header{
    display: flex;
    height: 100vh;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
#info{
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bolder;
    font-size: 12pt;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    top: 10%;
    border: 2px dashed #0077B5;
    transition: .05s;
}
#watch{
    font-size: 1em;
}
#API::placeholder{
    color: white
}
#city{
    cursor: text;
    border-spacing: inherit;
}
#API{
    background-color: #212529;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: text;
}
#resClima{
    font-family: "resClima";
    text-align: center;
    color: rgb(2, 42, 56);
    background-color: rgba(240, 248, 255, 0.736);
    font-size: 1.5em;
    border-radius: 20px;
    height: 200px;
    width: 500px;
    line-height: 40px;
    vertical-align: middle;
}

#API:hover{
    background-color: #0077B5;
}

#help{
    color: white;
    background-color: #212529;
    font-size: 1.5em;
    font-weight: bold;
    width: 50px;
    height: 50px;
}
#help:hover{
    background-color: #0077B5;
}
#cityname{
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    cursor: auto;
}
#cityname:hover{
    background-color: #0077B5;
}
#horas{
    color: white;
}
footer{
    display: flex;
    flex-direction: column;
}
#cityname{
    color: white;
    background-color: #212529;
}
#API:hover{
    color: white;
}

nav img:hover{
    cursor: pointer;
}

.desc{
    text-indent: 2rem;
}

#theme img{
    position: relative;

}
#background{
    transition: 10s linear;
    background-color: black;
    background-attachment: fixed;
}
.termos{
    margin-bottom: 20px;
}

::-webkit-scrollbar{
    background-color: rgb(26, 34, 39);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(255, 242, 157);
    border-radius: 5px;
}
::-webkit-scrollbar-corner{
    background-color: rgb(0, 213, 255);
}