*{
    margin: 0 ;
}

fieldset{
    color: white;
    border: 1px solid white;
    width: 500px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
#gta_sa_map_finder{
    position: relative;
    background-position: center;
    width: 501px;

}
header{
    background-color: rgb(24, 24, 24);
    height: 100vh;
    text-align: center;
} 
#search{
    vertical-align: middle;
}
#link{
    cursor: text;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(1, 255, 234, 0.05);
    border-radius: 10px;
    width: 501px;
    padding: 1px;
    box-sizing: inherit;
    border: 1px solid black;
}
#link::placeholder{
    position: relative;
    color: rgb(1, 255, 234);
    right: 44%;
}
#link:hover{
    color: white;
    cursor: pointer;
}
#res{
    text-align: justify;
}

#info{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Tahoma';
    height: fit-content;
    width: 80px;
    font-size: 10pt;
    border-radius: 10px;
    line-height: 25px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
#scrap{
    color: #0B5ED7;
    cursor: pointer;
    font-size: 3em;
    filter: drop-shadow(0px 0px  5px rgba(0, 242, 255, 0.439));
}
#chooseFile{
    color: white;
}
#conteudo{
    position: relative;
    height: 100px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%);
}