@font-face {
    font-family: "horas";
    src: url(fonts/Sacramento-Regular.ttf);
}

h1{
    color: white;
}
#nameValue:hover{
    cursor: text;
}
#nameValue::placeholder{
    color: black;
}
#compass{
    font-size: 15vw;
    animation-name: "compassAnim";
    animation-duration: 1s;
    color: white;
}

::selection{
    background-color: white;
    color: black;
}
*{
    transition: .1s ease-in-out;
    text-align: center;
}
#horas{
    color: white;
    font-size: 2em;
    font-family: "horas";
    font-weight: bolder;
}


#res{
    color: white;
    font-size: 1.5em;
}

body{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
aside{
    margin: 50px;
}
